* {
  font-family: sans-serif;
}
h1 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 230, 0);
  border-style: solid;
  border-color: #000000;
}
h2:hover {
  color: rgb(255, 230, 0);
}
